body {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(6, 200px);
    gap: 3px;
    border: 5px solid red;
}

img {
    width: 100%;
    height: 100%;
}

.big-layout {
    grid-column: span 6;
    grid-row: span 2;
}

.medium-layout {
    grid-column: span 2;
    grid-row: span 2; 
}

.horizontal-layout {
    grid-column: span 2;
    grid-row: span 1; 
}
.small-layout {
    grid-column: span 1;
    grid-row: span 1;    
}

@media screen and (max-width:576px) {

    body {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(6, 200px);
        gap: 3px;
        border: 5px solid red;
    }
    .big-layout,.horizontal-layout,.medium-layout,.small-layout {
        grid-column: span 1;
        grid-row: span 1;
    }
    
}