html,body {
    max-width: 1600px;
    margin: 0 auto;
    border: 5px solid red;
    max-height: 100vh;
    background-color: aquamarine;

}
/* main container */
.grid-container {
    max-width: 1600px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;

}
img {
    width: 100%;
    height: 100%;
    
}
.grid-item-1 {
        border: 5px solid red;
        max-width: 1600px;

}

.grid-item-2 {
     max-width: 1600px;
    border: 5px solid red;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.grid-item-3 {
     max-width: 1600px;
    border: 5px solid red;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.grid-item-3 .lion-photos {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr;

}
