* {
    margin: 0;
    padding: 0;

}
body {
    height: 100px;
    width: 100px;
}

.grid-container {
    height: 100vh;
    width: 100vw;
    /* width: 1000px;
    height: 1000px; */
    border: 3px solid red;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    /* grid-template-rows: repeat(3,500px); */
    gap: 10px;




    

}

.grid-item {
    width: 300px;
    height: 300px;
    background-color: cornflowerblue;
    margin: 2px;
    border: 3px solid peru;
 

}

/* @media (max-width: 576px) {
    .grid-container {
        grid-template-columns: repeat(1,300px); 
    }
    
} */
