.light-circuit {
    border: 2px solid salmon;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    max-width: 50vw;
    height: 70vh;
    margin: 0 auto;
}


.light-bulb {
    width: 300px;
    height: 300px;
    background-color: yellow;
    margin: 100px;
    border-radius: 50%;
    border: 2px solid salmon;
    display: flex;
    justify-content: center;
    align-items: center;
}