*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
/* shared style */

.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
 }

 .color-orange{
    color: #FD6E0A;
 }

.my-btn{
    background-color: #FD6E0A;
    color: white;

    font-weight: bold;
    font-size: 20px;
    border:none;
    border-radius: 5px;
    padding: 18px 35px;
    cursor: pointer;

}
.my-btn:hover{
    background-color: white;
    color: #FD6E0A;

}
/* main style */

/* our main header containing all */
 header{
    background-color: #fff8f3;
    padding-top: 51px;
    background: url(../images/developer.png), url(../images/header_bg.png), #fff8f3;
    background-position: top left, bottom right;
    background-repeat: no-repeat;
 }


/* navigation section */
header nav .logo{
    font-size: 45px;
    font-weight: bolder;
}
header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 71%; /*(1600/1140) */
    max-width: 1140px;
    margin: 0 auto;
    
}

header nav ul{
    display: flex;
    gap: 51px;
    text-decoration: none;
     align-items: center;
    list-style: none;
}

header nav ul li a{
    font: 20px;
    text-decoration: none;
    color: #474747;
}

/* hero section */

header .hero{
    display: flex;
    margin: 47px 38px 0px 230px;
    justify-content: space-between;
    align-items: center;
  
}
.hero-content{
      max-width: 585px;
}

.hero-content h2 {
    color: #474747;
    font-weight:600 ;
    font-size: 45px;
    margin-bottom: 5px;
}

.hero-content h1 {
    font-weight: bold;
    font-size: 85px;
    margin-bottom: 20px;
}
.hero-content p {
  
    font-size: 18px;
    color: 757575;
    margin-bottom: 30px;
}
.hero-image img{
    max-width: 585px;
    /* vertical-align: middle; */
    /* background-color: #FD6E0A; */
}
