*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body
{
    display: flex;
    border: 10px solid black;
    justify-content: center;
    align-items: center;
    height: 500px;
    gap: 20px;
    flex-wrap: wrap;

}

.box
{
    flex-grow: 1;
    height: 100px;
    width: 100px;
    background-color: red;
    /* margin: 20px; */
    font-size: 20px;
}