*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

html, body{
    width: 100%;
    height: 100%;
}
main{
    background-color: #D5FF40;
    width: 100%;
    height: 100%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 100px;
    width : 100%;

}
nav h2{
    font-weight: 900;
    font-size: 37px;
  
}
#part2{
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap : 30px;

}
nav a{
   font-size: 20px;
   text-decoration: none;
   font-weight: 100;
   color: #111;
}

