.my-card {
    box-sizing: border-box;
    background-color: rgb(227, 209, 227);
    font-size: medium;
    height: 150px;
    width: 200px;
    padding: 30px;
    border-radius: 10px;
    margin: 10px;
}