button{
    box-sizing: border-box;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    background-color: aquamarine;
}

h3{
    box-sizing: border-box;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    background-color: aquamarine;

}