*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

h1{
    font-size: 100px;
}

#box
{
    height: 100px;
    width: 100px;
    background-color: crimson;
}
#inner
{
    height: 50px;
    width: 50px;
    background-color: aquamarine;
}