*{
    margin:0;

}
button{
    margin: 40px;
    border: 3px solid black;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 50px;
    padding:10px 20px;
    background-color: #111;
    font-weight: 700;
    color: white;


}
button:hover{
    color: #111;
    background-color: white;
}